html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

#header {
    background: #eae9e8;
    position: relative;
    color: #777373;
}

#header .logo {
    width: 168px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

#header button .icon-bar {
    background: #ff2e64;
}

#header a {
    color: #777373;
    font-weight: bold;
    padding: 20px 0;
    cursor: pointer;
    font-size: 15px;
}

#header .nav li a {
    padding: 20px 10px;
    color: #777373;
}

#header .nav li a:hover {
    background: transparent;
    color: #f85e63;
}

.main .section1 {
    margin: 120px auto;
    position: relative;
}

.main .section1 .pic {
    position: relative;
}

.main .section1-bg img {
    max-width: 100%;
    height: auto;
}

.main .section1 .pic img {
    max-width: 100%;
    height: auto;
}

.section1-content {
    /*position: absolute;*/
    /*top: 25%;*/
    /*left: 0;*/
    /*width: 100%;*/
    position: relative;
    margin: 0 auto;
    top: 26%;
}


.index {
    color: #4E4949;
    font-size: 48px;
    opacity: 0.1;
}

.detail {
    margin-left: 32px;
    margin-top: -27px;
}

.title {
    font-size: 36px;
    color: #4E4949;
}

.line {
    background: #F85E63;
    width: 40px;
    height: 4px;
    margin-top: 40px;
}

.content {
    font-size: 12px;
    color: #807876;
    line-height: 20px;
    padding: 40px 0;
    width: 51%;
    letter-spacing: .1em;
}

.more {
    padding: 10px 20px;
    background: #F85E63;
    border-radius: 20px;
    color: #fff;
    width: 150px;
    text-align: center;
    margin-bottom: 30px;
}

@media (max-width: 1200px) {
    .content {
        width: 80%;
    }

}
@media (min-width: 1200px) {
    .main .section1 {
        margin: 60px auto;
        position: relative;
        height: 770px;
    }
}
@media (max-width: 1200px) and (min-width: 992px){
    .main .section1 {
        height: 670px;
    }
}
@media (max-width: 992px) {
    .main .section1 {
        margin: 60px auto;
    }

    .section1-content {
        top: 0;
    }

    .main .section1 .pic {
        margin-left: 32px;
    }

}

@media (min-width: 768px) {
    #header .nav li a.active {
        border-bottom: 3px solid #f85e63;
    }

    .main-nav li {
        margin: 0 0 0 30px;
        display: inline-block;
    }
    .section1-left{
        width: 38%;
        padding: 0;
    }

    .section1-right{
        width: 62%;
        padding: 0;
    }

}

@media (max-width: 768px) {
    #header .navbar-header {
        position: relative;
    }

    .content {
        width: 100%;
    }

    .section1-content {
        padding-right: 32px;
    }

}

